<div class="flex min-h-screen bg-gray-50 overflow-x-hidden">
  
  <app-sidebar></app-sidebar>

  <main class="flex-1 min-w-0 transition-all duration-300 ease-in-out"
        [class.xl:ml-72]="!(sidebarService.menuFechado$ | async)"
        [class.xl:ml-20]="(sidebarService.menuFechado$ | async)">
    
    <div class="p-2 md:p-6 transition-all duration-300 ease-in-out"
         [class.xl:px-10]="true">
      
      <app-header></app-header>

      <div class="mt-4">
        <router-outlet></router-outlet>
      </div>

      <div class="text-blue-gray-600 mt-4">
        <app-footer />
      </div>

    </div>
  </main>
</div>